* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
}

:root{
    --white: rgba(255, 255, 255, 0.9);
    --black: rgba(0, 0, 0, 0.81);


}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #808080;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

button{
    border: none;
    outline: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}



.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 4%;
    position: absolute;

    header div,
    header nav {
    flex: 1;
    }


    ul{
       display: flex;
       gap: 36px; 

       li{
        list-style-type: none;
    }

     a {
        text-decoration: none;
      }
    }

    .divButtons{
        display: flex;
        justify-content: end;
        gap: 32px;

        .primario{
            color: var(--black);
        }

        .secundario{
            background-color: rgb(255, 255, 255, 0.079);
            color: var(--white);
            border: 1px solid var(--white);
        }
    }

    
      
}

.slider .slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .slider .slide .nike {
    position: absolute;
  }
  
  .slider .slide .nike h3 {
    font-size: 26vw;
  }

  h3:nth-child(1){
   color: rgba(255, 255, 255, 0.3);
  }
  
  .slider .slide .nike h3:nth-child(2) {
    position: absolute;
    top: 0;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.303);
  }

  .slider .slide .tenis{
    position: relative;
  }

  .rodape{
    width: 100%;
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 4%;

  }

  .rodape .esquerda{
    h2{
        font-size: 32px;
        font-style: italic;
        font-weight: 400;

        small{
            font-size: 20px;
        }
    }
  }

  .rodape .direita{
    display: flex;
    gap: 20px;

   .botaoTenis{
    position: relative;

    img{
        width: 80px;
        transform: rotate(20deg);
    }
   }

    .botaoTenis::before{
        content: "";
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: translate(-50%, -50%);
    }

    .rodape.botaoTenis.active img{
        width: 113px;
        transform: rotate(0);
    }

    .rodape.botaoTenis.active::before{
        background-color: rgba(255, 255, 255, 0);
    }
      
  }
  
